<!DOCTYPE html>
<html lang="en">

<style>
body {
  background-color: #73869c;
  font-family: verdana;
}
.upper{
    background-color: #3f4d6b;
    height : 10%;
    width : 100%;
    align : center;
}
.button {
    background-color:#3f556e;
    width : 75px;
    border-color : #1a2129;
    border-style : solid;
    border-width : 1px;
}
head {
    background-color: #869ac4;
{

</style>

<div class="upper">
    <head>
        <meta charset="UTF-8">
        <title>CV creator</title>

        <header>
            <h1> Register or sign in</h1>
        </header>

    </head>
</div>

<body>
    <div class="button">
        <a href="/register" >register</a>
    </div>
    <br>
    <div class="button">
        <a href="/login">sign in</a>
    </div>

    <br>

    <div>
        This is cv constructor. Sign in to construct cv using custom information!
    </div>
    <a href="/logout">logout</a>
</body>

</html>